@font-face {
    font-family: "D-DIN Expanded";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src:
        url("/fonts/d-din/d-dinexp.woff2") format("woff2"),
        url("/fonts/d-din/d-dinexp.woff") format("woff");
}

@font-face {
    font-family: "D-DIN Expanded";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src:
        url("/fonts/d-din/d-dinexp-bold.woff2") format("woff2"),
        url("/fonts/d-din/d-dinexp-bold.woff") format("woff");
}
