
$white: #fff;
$black: #000;

$dark: rgb(23, 23, 27);
$light: rgb(223, 223, 223);

$blue: rgb(127, 191, 255);
$darkblue: rgb(63, 127, 255);
$purple: rgb(191, 127, 255);
$darkpurple: rgb(127, 63, 255);

$blurple: mix($blue, $purple);

$gradient: linear-gradient(45deg, $white -30%, $blue, $purple);
$background: rgb(31, 31, 35);

// New Lavender
$lavender: rgb(137, 154, 239);

// Desaturated Dark (Lab to sRGB)
$dark-600: rgb(16, 17, 18); //  5 0 -1
$dark-500: rgb(26, 28, 30); // 10 0 -2
$dark-400: rgb(36, 38, 42); // 15 0 -3
$dark-300: rgb(45, 49, 54); // 20 0 -4
$dark-200: rgb(55, 60, 67); // 25 0 -5
$dark-100: rgb(66, 71, 80); // 30 0 -6

$dark-550: mix($dark-400, $dark-500); // temporary?

// Third Party
$facebook-blue: #1877f2;
