
// 4. NOTE: (Touch devices) Prevent tap delay

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  -webkit-overflow-scrolling: touch; // 1
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  touch-action: manipulation; // 4
  box-sizing: border-box;
}

body {
  font: 400 1em/1 sans-serif;
}

// NOTE: This sets the maximum site width when using this viewport meta tag.
// Mobile devices will downscale from this size.
// <meta name="viewport" content="width=device-width,maximum-scale=1">

@media (max-width: 375px) {
  body {
    width: 375px;
  }
}
