
$icon-link: ic-link-24px($white);
$icon-queue: ic-queue-24px($white);
$icon-sync: ic-sync-24px($white);

$icon-code: ic-code-24px($white);

$icon-trucks: ic-local-shipping-24px($white);
$icon-machines: ic-agriculture-24px($white);

$icon-rss: ic-rss-feed-24px($white);
$icon-description: ic-description-24px($white);
$icon-feedback: ic-feedback-24px($white);

// $icon-aspect-ratio: ic-aspect-ratio-24px($white);
// $icon-calculate: ic-calculate-24px($white);
// $icon-insights: ic-insights-24px($white);

.apps {
  display: grid;
  // grid: auto-flow / 1fr 1fr;
  gap: 24px;
  max-width: 960px;
  margin: auto;
  padding: 24px;

  @media (min-width: 768px) {
    grid: auto-flow/1fr 1fr;
  }

  .head {
    grid-column: 1 / -1;
    padding: 36px 6px 0;

    h1 {
      font: 600 36px/1 $font-mont;
    }

    // h2 {
    //   font: 400 16px/36px sans-serif;
    //   opacity: 0.625;
    // }
  }

  .icon {
    min-width: 72px;
    height: 72px;
    border-radius: 12px;
    background-repeat: no-repeat !important; // override shorthand
    background-position: center !important; // override shorthand

    //
    // Apps
    //

    &.-insights {
      background: $dark-100 url('/cache/graphic.svg') 0/60px;
    }

    &.-resize {
      background: $pastel-purple url($icon-link) 0/48px;
    }

    &.-discord {
      background: $pastel-blue url($icon-queue) 0/48px;
    }

    &.-sync {
      background: $pastel-yellow url($icon-sync) 0/48px;
    }

    //
    // Open Source
    //

    &.-code-purple {
      background: $pastel-purple url($icon-code) 0/48px;
    }

    &.-code-blue {
      background: $pastel-blue url($icon-code) 0/48px;
    }

    &.-code-orange {
      background: $pastel-orange url($icon-code) 0/48px;
    }

    &.-code-red {
      background: $pastel-red url($icon-code) 0/48px;
    }

    //
    // Old Work
    //

    &.-trucks-red {
      background: $pastel-red url($icon-trucks) 0/48px;
    }

    &.-trucks-blue {
      background: $pastel-blue url($icon-trucks) 0/48px;
    }

    &.-machines-yellow {
      background: $pastel-yellow url($icon-machines) 0/48px;
    }

    //
    // Other
    //

    &.-blog {
      background: $pastel-orange url($icon-rss) 0/48px;
    }

    &.-resume {
      background: $pastel-green url($icon-description) 0/48px;
    }

    &.-feedback {
      background: $pastel-blue url($icon-feedback) 0/48px;
    }

    // &.-calculate {
    //   background: $black url($icon-calculate) center/48px no-repeat;
    // }
  }
}

.portfolio-item {
  display: flex;
  padding: 24px;
  border-radius: 12px;
  // background: $dark-400;
  background: var(--bg-400);

  &:hover {
    // background: $dark-300;
    background: var(--bg-300);
  }
}

.portfolio-item-body {
  padding: 0 0 0 18px;

  h1 {
    font: 400 24px/32px sans-serif;
  }

  p {
    font: 400 13px/20px sans-serif;
    opacity: 0.625;
  }
}

@media (max-width: 960px - 1px) {
  .portfolio-item {
    padding: 12px;
  }

  .portfolio-item-body {
    h1 {
      font: 400 18px/27px sans-serif;
    }
  }
}
