
.home {
  display: grid;

  video {
    width: 100%;
  }

  .card {
    max-width: 480px;
    background: var(--bg-400);
  }

  .banner {
    padding: 36px;
    background: $gradient;
  }

  .body {
    display: grid;
    gap: 12px;
    padding: 0 36px 36px;

    p {
      font: 300 18px/36px sans-serif;
      text-indent: 24px;
    }

    a {
      margin: auto;
      padding: 0 24px;
      border: 2px solid var(--fg-500);
      border-radius: 8px;
      color: var(--fg-500);
      font: 300 18px/48px sans-serif;
      cursor: pointer;

      &:hover {
        color: var(--bg-500);
        background: var(--fg-500);
      }
    }
  }
}

@media (min-width: 768px + 1px) {
  .home {
    .card {
      margin: 96px auto 0;
    }
  }
}

@media (min-width: 480px + 1px) {
  .home {
    .card {
      border-radius: 12px;
      overflow: hidden;
    }

    .banner {
      border-radius: 0 0 6px 6px;
    }
  }
}
