
.home {
  display: grid;

  .card {
    max-width: 480px;
    background: $dark-450;

    div {
      flex: 1;
      display: flex;
      flex-flow: column;
      padding: 36px;
    }

    p {
      margin: 0 0 12px;
      font: 300 18px/36px sans-serif;
      text-indent: 24px;
    }

    a {
      margin: 12px auto 0;
      padding: 0 24px;
      border: 2px solid $light;
      border-radius: 8px;
      font: 300 18px/48px sans-serif;
      cursor: pointer;

      &:hover {
        color: $background;
        background: $light;
      }
    }
  }

  .banner {
    background: $gradient;
  }
}

@media (min-width: 768px + 1px) {
  .home {
    .card {
      margin: 96px auto 0;
    }
  }
}

@media (min-width: 480px + 1px) {
  .home {
    .card {
      border-radius: 12px;
      overflow: hidden;
    }

    .banner {
      border-radius: 0 0 6px 6px;
    }
  }
}
