
$icon-facebook: ic-facebook-24px($light);

.interface {
  .titlebar {
    max-width: 1024px;
    margin: auto;
    padding: 0 24px;
    color: $dark-200;
    font: 600 18px/96px sans-serif;
  }

  .page {
    background: $dark-400;
  }

  .bar {
    display: flex;
    padding: 0 12px;

    h1 {
      padding: 0 12px;
      font: 600 16px/72px sans-serif;
      text-transform: capitalize;
    }
  }

  .avatar {
    display: flex;

    div {
      width: 48px;
      height: 48px;
      margin: auto 0;
      border-radius: 24px;
      background: gray;

      + div {
        margin: auto 0 auto -12px;
      }
    }
  }

  .button {
    margin: auto 0 auto auto;
    padding: 12px 12px 12px 48px;
    border-radius: 3px;
    font: 600 16px/1 sans-serif;
    background: $blue url($icon-facebook) 12px/30px no-repeat;
    cursor: pointer;
  }

  .chart {
    overflow: auto;
    background: $dark-500;

    svg {
      width: 1024px;
      height: 320px;
    }
  }

  .tabs {
    display: flex;
    // height: 72px;
    padding: 24px 6px 0;
    background: $dark-450;

    div {
      margin: 0 6px;
      padding: 9px 18px 12px;
      border-top: 3px solid transparent;
      // border-radius: 3px 3px 0 0;
      font: 400 14px/24px sans-serif;

      &.-active {
        border-color: $orange;
        background: $dark-400;
      }
    }
  }

  .list {
    padding: 18px 0;

    div {
      padding: 12px;

      &:nth-child(odd) {
        background: $dark-450;
      }
    }
  }
}

// desktop
@media (min-width: 1024px + 1px) {
  .interface {
    padding: 0 48px 48px;

    .page {
      max-width: 1024px;
      margin: auto;
      border-radius: 12px;
    }

    .list {
      padding: 24px;

      div {
        border-radius: 6px;
      }
    }
  }
}
