
.resume {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 36px;
}

.header {
  padding: 36px;
  border-radius: 4px;
  color: $background;
  background: $gradient;

  h1 {
    font: 800 48px/1 $font-goldbill;
    text-transform: uppercase;
  }

  h2 {
    font: 100 24px/2 $font-goldbill;
  }
}

.grid {
  padding: 24px 12px;
}

.tile {
  padding: 12px 12px 24px;

  h1,
  h2 {
    text-transform: uppercase;
  }

  h1 {
    margin: 0 0 24px -2px;
    font: 800 48px/1 $font-goldbill;
  }

  h2 {
    margin: 0 0 0 -1px;
    font: 800 24px/36px $font-goldbill;
  }

  h3 {
    font: 300 14px/24px sans-serif;
    opacity: 0.5;
  }

  p {
    margin: 0 0 24px;
    font: 300 16px/24px sans-serif;
  }

  ul {
    padding: 0 0 36px 24px;
    font: 300 14px/24px sans-serif;
  }

  li {
    padding: 6px 0 0;
  }
}

// desktop
@media (min-width: 768px + 1px) {
  .header {
    h1 {
      font: 800 72px/1 $font-goldbill;
    }
  }

  .grid {
    display: flex;
    flex-flow: wrap;

    div {
      width: 50%;
    }
  }
}
