
.resume {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: 24px;
  color: $background;
  background: $gradient;

  h1 {
    margin: 0 0 12px -4px;
    font: 800 48px/1 $font-goldbill;
    text-transform: uppercase;
  }

  h2 {
    font: 400 14px/24px sans-serif;
  }
}

.grid {
  padding: 24px 0;
}

.grid-item {
  padding: 0 24px 0;

  h1,
  h2 {
    text-transform: uppercase;
  }

  h3,
  ul {
    font: 300 14px/24px sans-serif;
  }

  h1 {
    margin: 0 0 0 -2px;
    font: 800 48px/72px $font-goldbill;
  }

  h2 {
    margin: 0 0 0 -1px;
    font: 800 24px/1 $font-goldbill;
  }

  h3 {
    opacity: 0.5;
  }

  ul {
    padding: 0 0 24px 24px;
  }

  li {
    padding: 12px 0 0;
  }
}

// desktop
@media (min-width: 768px + 1px) {
  .resume {
    padding: 0 36px;
  }

  .header {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding: 36px;
    border-radius: 4px;

    div {
      margin: 0 0 0 auto;
      padding: 0 0 0 24px;
    }

    h1 {
      font: 800 64px/1 $font-goldbill;
    }
  }

  .grid {
    display: flex;
  }

  .grid-item {
    width: 50%;
    padding: 12px 24px 24px;
  }
}
