@font-face {
  font-family: "Blacker Pro Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/blacker-pro-text/BlackerProText-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Blacker Pro Text";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/blacker-pro-text/BlackerProText-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Wild Star";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/wild-star/WildStar-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter-3.18/Inter-roman.var.woff2") format("woff2");
}
